@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    font-family: Roboto;
    font-size: min(3vw, 2.5vh);
    height: 100vh;
    width: 100vw;
    background-image: url(https://www.dropbox.com/s/79pt9vavpzk6whl/metal-gear-font.jpg?raw=1);
    background-position: 75%;
    background-size: cover;
    display: flex;
    justify-content: center;
    color:#03FB8D;
    font-family:  Orbitron, sans-serif ;
}

#game-interface {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#command {
    height:20vh;
    min-width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#d-pad-canvas {
    height: 100%;
    width: 100%;
  }
  

.left-right-button {
    width: 20vh;
    height: 6.66vh;
    display: flex;
    justify-content: space-between;
}

.left-right-button > input {
    width: 6vh;
    height: 6vh;
}

.up-down-button {
    width: 100%;
    height: 6.66vh;
    display: flex;
    justify-content: center;
}

.up-down-button > input {
    width: 6vh;
    height: 6vh;
}

#canvas-set {
    width: 100%;
    position: relative ;
}

#canvas-game {
    background-color:#b2ceb240;
    margin: 0 0;
    z-index: 1;
    display: block;
}

#canvas-pause {
    /*width: 100%;*/
    position: absolute;
    display: block;
}

#user-interface {
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 20vh;
}


#user-interface-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu > .button {
    width: 30%;
    min-width: 10vh;
    font-size: 1em;
    height: 5vh;
    background-color: #03FB8D;
    color: rgb(27, 26, 26);
    border: 0;
    margin: 1vh 0;
    padding: 1vh 0;
    font-family:  Orbitron, sans-serif ;
    outline: none;
}

.stat-name {
    display: inline-block; 
    align-content: center;
    width: auto;
  font-size: 1.2rem;
}

/*.cross {
    height: 2em;
    outline: none;
}*/

.game-state {
    margin: 5%;
    display: flex; 
    justify-content: space-around;
}

#menu {
    margin: 0 1vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

span {
    padding: 0;
}
